body{
	margin:0px;
}
#section1{
    background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3),rgba(0,0,0,1)),url("../media/libby.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    height:90vh;
    width:100vw;
    position:relative;
}
.quotefade{
	display:none;
}